.img-dev{
    width: 250px;
    height: 180px;
    object-fit: cover;
}

.categorie{
    display: flex;
}

.click{
    background-color: red;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
}