

.list-niveau{
    margin: 5px 0;
    border: 1px solid yellow;
    width: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100;
    right: 5px;
    border-radius: 3px;
}


.list-niveau:hover{
    margin: 5px 0;
    border: 1px solid rgb(255, 94, 0);
    background-color: rgb(255, 94, 0);
    transition: 0.8s ease;
}